<div class="login-container">
  <div class="login-header">Login</div>
  <form (ngSubmit)="login()" [formGroup]="loginForm" class="login-form">
    <div class="user-data">
      <label for="email">Email </label>
      <input
        formControlName="email"
        type="text"
        name="email"
        placeholder="Enter mail"
        [class.invalid]="f['email'].invalid && f['email'].touched"
        required
        autocomplete="off"
      />
      <div *ngIf="f['email']?.invalid && f['email']?.touched" class="error">
        <div *ngIf="f['email']?.errors?.['required']">Email is required.</div>
        <div *ngIf="f['email']?.errors?.['email']">
          Please enter a valid email.
        </div>
      </div>
    </div>

    <div class="user-data">
      <label for="password">Password </label>
      <input
        formControlName="password"
        type="password"
        name="password"
        type="Enter password"
        required
        autocomplete="off"
      />
      <div
        *ngIf="f['password']?.invalid && f['password']?.touched"
        class="error"
      >
        <div *ngIf="f['password']?.errors?.['required']">
          Password is required.
        </div>
        <div *ngIf="f['password']?.errors?.['minlength']">
          Password must be at least 8 characters.
        </div>
      </div>
    </div>
    <div *ngIf="message" class="common-error">{{ message }}</div>
    <button type="submit" class="login-button">Login</button>
    <a [routerLink]="'/signup'" class="login">Sign Up</a>
  </form>
</div>
